.body {
    font-family: sans-serif;
    background-color: rgb(173, 173, 173);
}


/*-----------------------------slide bar--------------------------------------*/

.sidebar {
    position: absolute;
    width: 220px;
    height: 100%;
    background: rgb(43, 65, 87);
    z-index: 1;
}

.user {
    width: 100%;
    padding: 10px 0;
}

.user img {
    display: inline-block;
    width: 200px;
}

.user .username {
    color: white;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin: 20px 0 0 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 20px 0 20px 30px;
    color: rgb(243, 239, 239);
    letter-spacing: 1px;
}

nav a:hover,
nav a.active,
nav ul.nav2 a.active,
ul.nav2 nav a.active {
    text-decoration: none;
    background: #cfd7df;
    color: rgb(43, 65, 87);
}


/*------------------------------End slide bar--------------------------------------*/

.container {
    background-color: white;
}

.head {
    background-color: rgb(37, 172, 37);
    border: 20px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 30px;
}


/*------------------------------------main-------------------------------------------*/

.main {
    position: absolute;
    right: 0;
    width: calc(100% - 230px);
    height: 100%;
    background: #ddd;
}

.main-2 {
    position: absolute;
    padding-right: 35px;
    padding-top: 20px;
    right: 0;
    width: calc(100% - 70px);
    height: 100%;
    background: #ddd;
}


/*------------------------------------ end main-------------------------------------------*/

h4 {
    text-align: center;
}

.form-group {
    text-align: center;
}

.btn-primary {
    background-color: rgb(209, 205, 205);
    padding-top: 5px;
}

.btn-primary:hover {
    background-color: rgb(174, 233, 174);
}

.picture {
    text-align: center;
}